/* DON'T DELETE THIS */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: dimgrey; 
}

/* Clear Float */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* end */

[contenteditable]:focus {
    outline: 0px solid transparent;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    overflow: hidden;
}

#homepage {
    width: 100vw;
    height: 92vh;
    position: relative;
    background-color: #322C2E;
    padding-left: 8vw;
    padding-top: 4vh;
}

#slider {
    height: 8vh;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: left;
    font-size: 3.5vh;
    background-color: #F6403A;
}

#slider-text {
    padding-top: 2vh;
    padding-bottom: 14px;
    padding-left: 8vw;
}

.textToggle {
    padding-top: 2vh;
    padding-left: 8vw;
}

.full {
    height: 100vh;
}

.up {
    height: 40px;
    transform: rotate(-180deg);
}

/* #chat-cont {
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  position: absolute;
  top: 0;
  background-color: white;
} */

#text-box-cont {
    height: 5vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    border: solid blue 2px;
}

#prompt {
    font-size: 1.5em;
    color: #00BCB9;
    height: 11vh;
}


#date-location-cont {
    height: 55%;
    width: 80%;
}

.date-location {
    height: 30%;
    margin-bottom: 3.33%;
    border: 1px solid white;
}

#clock {
    text-align: left;
    font-size: 1.8em;
    color: #F6403A;
}

#clock-text {
    font-size: 1.5em;
    color: #00BCB9;
}

#livestream-link {
    width: 90%;
    margin-top: 3vh;
    font-size: 1em;
    color: #00BCB9;
    border-bottom: solid #00BCB9 2px;
    box-sizing: border-box;
}

/* CALENDER STYLING */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 90%;
    max-width: 400px;
}

li {
    height: 16vh;
    ;
    border: solid grey 4px;
    box-sizing: border-box;
    list-style-type: none;
    color: grey;
    border-radius: 20px;
    margin-bottom: 2.25vh;
}

dd {
    margin-left: 0;
    padding-left: 4vw;
}

dl {
    padding-top: 1vh;
    padding-left: 2vw;
}

time {
    padding-left: 4vw;
}

.calendar-date {
    font-size: 4vh;
}

.calendar-time {
    font-size: 2vh;
}

.live {
    border: 2px solid yellow;
    color: yellow;
}

/* CHAT STYLING */
#chat-cont {
    width: 100vw;
    height: 95vh;
    position: relative;
    color: white;
}

#prompt-chat {
    width: 92vw;
    height: 10vh;
    margin: 0 auto;
    margin-top: 2.5vh;
    padding: 4vw;
    position: relative;
    color: #322C2E;
    background: #00BCB9;
}

#location {
    height: 5vh;
    width: 92vw;
    background-color: #322C2E;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2.5vh;
    top: 0;
    color: #00BCB9;
}

#location-text {
    font-size: 1em;
    position: absolute;
    bottom: 0;
    padding-left: 4vw;
    padding-bottom: 1vh;
}

#chat-area {
    margin: 0 auto;
    margin-bottom: 2.5vh;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 92vw;
    height: 60vh;
    top: 15vh;
    overflow: auto;
/*    border: 1px solid #322C2E;*/
}

/* Turns off focus highlight on textbox */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* for the username styling */
/* #chat-area span {
	color:#fff;
	background:#333;
	padding:4px 8px;
	-moz-border-radius:5px;
	-webkit-border-radius:8px;
	margin:0 5px 0 0;
} */


/*
#chat-area p {
    border-bottom: 1px solid #ccc;
}
*/

#name-area {
    position: absolute;
    top: 12px;
    right: 0;
    color: #fff;
    font: bold 12px "Lucida Grande", Sans-Serif;
    text-align: right;
}

#name-area span {
    color: #fa9f00;
}

#sendie {
    border: 3px solid #F6403A;
    box-sizing: border-box;
    padding: 2vw;
    width: 80vw;
    height: 40px;
    float: right;
    margin-right: 16vw;
    background-color: transparent;
}

#send {
    height: 40px;
    width: 12vw;
    right: 4vw;
    position: absolute;
    background-color: #F6403A;
    z-index: 1000;
}
